# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Keep the android folder, but ignore the build artifacts
android/app/build/
android/.gradle/

# ⚠️ CRITICAL: Ignore your API Keys
google-services.json
android/app/google-services.json

# Ignore local configuration
android/local.properties
android/*.iml
android/.idea

#firebase config
google-services.json