name: Build Android APK0

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install NPM deps
        run: npm install

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Make Gradle executable
        run: chmod +x android/gradlew

      - name: Create google-services.json
        run: |
          printf '%s' "$GOOGLE_SERVICES_JSON" > android/app/google-services.json
        shell: bash

      - name: Build Release APK
        working-directory: android
        run: ./gradlew assembleRelease

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: postheart-release
          path: android/app/build/outputs/apk/release/app-release.apk
